{% extends "base.html" %}

{% block content %}

<div class="tarjeta">

    <h1>{{ titulo }}</h1>

    <p>
        Seleccione el alumno,
        servicio y período.
    </p>

    <form method="post" class="formulario">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="boton"
        >
            Guardar
        </button>

        <a
            href="{% url 'comedor_contratacion_lista' %}"
            class="boton-secundario"
        >
            Cancelar
        </a>

    </form>

</div>

{% endblock %}