<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ingresar al sistema</title>
</head>

<body>

    <h1>Ingresar al sistema</h1>


    {% if perfil_seleccionado %}

        <p>
            Ingresando como:
            <strong>
                {{ perfil_seleccionado }}
            </strong>
        </p>

    {% endif %}


    {% if messages %}

        {% for message in messages %}

            <p>
                {{ message }}
            </p>

        {% endfor %}

    {% endif %}


    <form method="POST">

        {% csrf_token %}

        <input
            type="hidden"
            name="perfil"
            value="{{ perfil_seleccionado }}"
        >


        <p>
            <label>
                Usuario o correo electrónico
            </label>

            <br>

            <input
                type="text"
                name="identificador"
                required
            >
        </p>


        <p>
            <label>
                Contraseña
            </label>

            <br>

            <input
                type="password"
                name="password"
                required
            >
        </p>


        <button type="submit">
            Ingresar
        </button>

    </form>

</body>

</html>