{% extends "base.html" %}

{% block content %}

<div class="tarjeta">

    <h1>Horarios</h1>

    <p>
        Administración de los horarios académicos.
    </p>

    <a
        href="{% url 'horario_crear' %}"
        class="boton"
    >
        Nuevo horario
    </a>

</div>


<div class="tarjeta">

    {% if horarios %}

        <table>

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Día</th>
                    <th>Hora inicio</th>
                    <th>Hora fin</th>
                    <th>Acciones</th>
                </tr>

            </thead>

            <tbody>

                {% for horario in horarios %}

                    <tr>

                        <td>
                            {{ horario.id_horario }}
                        </td>

                        <td>
                            {{ horario.get_dia_semana_display }}
                        </td>

                        <td>
                            {{ horario.hora_inicio|time:"H:i" }}
                        </td>

                        <td>
                            {{ horario.hora_fin|time:"H:i" }}
                        </td>

                        <td>

                            <a
                                href="{% url 'horario_editar' horario.id_horario %}"
                                class="boton-secundario"
                            >
                                Editar
                            </a>


                            <form
                                method="post"
                                action="{% url 'horario_eliminar' horario.id_horario %}"
                                style="display:inline;"
                            >

                                {% csrf_token %}

                                <button
                                    type="submit"
                                    class="boton-peligro"
                                >
                                    Eliminar
                                </button>

                            </form>

                        </td>

                    </tr>

                {% endfor %}

            </tbody>

        </table>

    {% else %}

        <p>
            No hay horarios registrados.
        </p>

    {% endif %}

</div>

{% endblock %}