{% extends "base.html" %}


{% block title %}
    Modificar mis datos
{% endblock %}


{% block content %}

    <div class="formulario">

        <h1>
            Modificar mis datos
        </h1>

        <p>
            Podés modificar únicamente tu correo y teléfono.
        </p>


        <div class="tarjeta">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}


                <button
                    class="boton"
                    type="submit"
                >
                    Guardar cambios
                </button>


                <a
                    class="boton boton-secundario"
                    href="{% url 'profesor_mis_datos' %}"
                >
                    Cancelar
                </a>

            </form>

        </div>

    </div>

{% endblock %}